version: "3.8"

services:
  backend:
    build: ./backend
    container_name: vreg-backend
    ports:
      - "8082:8082"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: vreg-frontend
    ports:
      - "8002:80"
    restart: unless-stopped
